.wy-nav-content {
    max-width: none;
}
.wy-side-nav-search {
    background-color: #fed136;
}

.wy-side-nav-search>a, .wy-side-nav-search .wy-dropdown>a {
    color: #000000;
        font-size: 150%;
}


.wy-nav-top {
    background: #fed136;
    color: #000000;
}


.wy-nav-top a {
    color: #000000;
}


.wy-table-odd td, .wy-table-striped tr:nth-child(2n-1) td, .rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td {

    background-color: transparent;

